---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Main from "../layouts/Main.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>FULL PASS</title>
  </head>
  <Nav />
  <Main type="standard" />

  <article>
    <div class="fullpass_container">
      <img src="../Ticket2.jpg" alt="Ticket 2" />

      <div class="fullpass_description">
        <h3 id="fullpass">5 DAY</h3>
        <h4 id="everything_included">CUSTOMIZE TICKET</h4>

        <p id="description">
          This ticket includes a 5 day acces to the festival. A camping spot will be asigned to you, if you dont choose to stay ay our dormitory. By customizing the ticket, you have the option to choose what you need. The price will depend on your
          choices.
        </p>
        <p id="alcohol">It is not allowed to bring your own alcohol</p>
        <div class="customize_box">
          <p class="customizeticket_p">CUSTOMIZE TICKET</p>
          <p>
            <label>BOAT TRANSPORT <input type="checkbox" name="" id="" /></label>
          </p>
          <p>
            <label>DORMITORY <input type="checkbox" name="" id="" /></label>
          </p>
          <p>
            <label>FOOD AND DRINKS <input type="checkbox" name="" id="" /></label>
          </p>
          <p>
            <label>WORKSHOPS AND ACTIVITIES <input type="checkbox" name="" id="" /></label>
          </p>
        </div>
        <h4 id="price">1.000 - 1.500 DKK</h4>
        <a href="/checkout"><button>ADD TO CHART</button></a>
      </div>
    </div>

    <Footer />

    <style>
      /* MOBILE VIEW */
      @media (max-width: 900px) {
        .fullpass_description {
          text-align: center;
          padding: 30px;
        }
      }

      /* COMPUTER VIEW */
      @media (min-width: 900px) {
        .fullpass_container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
        }
      }

      /* IMAGE LEFT SIDE */
      img {
        grid-column: 1;
      }

      /* DECRIPTION CONTAINER */
      .fullpass_description {
        grid-column: 2;
      }

      /* HEADLINE FULLPASS */
      #fullpass {
        font-size: 50px;
        line-height: 0em;
      }

      /* SUB HEADLINE */
      #everything_included {
        font-size: 15px;
        padding-bottom: 2rem;
      }

      /* DESCRIPTION */
      #description {
        padding-bottom: 1rem;
      }

      /* ALCOHOL IN ITALIC */
      #alcohol {
        font-style: italic;
        padding-bottom: 2rem;
      }

      /* WHITE BOX  */
      .customize_box {
        border-width: 3px;
        border-style: solid;
        border-color: white;
      }

      /* WHITE BOX - HEADING */
      .customizeticket_p {
        padding-left: 30px;
        border-bottom: 1px solid;
        padding-bottom: 10px;
      }

      /* WHITE BOX + HEADING */
      .customize_box label {
        grid-column: 1;
        display: flex;
        flex-direction: row;
        padding-left: 30px;
      }

      /* PRICE */
      #price {
        padding-top: 3rem;
      }

      button {
        background-color: #353639;
        color: white;
        padding: 1rem;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
      }
      button:hover {
        background-color: white;
        color: #353639;
      }

      /* ARTICLE AROUND WHOLE SITE PADDING AND BACKGROUND COLOR - PHONE VIEW */
      article {
      }

      /* ARTICLE AROUND WHOLE SITE PADDING AND BACKGROUND COLOR - COMPUTER VIEW */
      @media (min-width: 900px) {
        article {
          padding-bottom: 10rem;
          padding-top: 10rem;

          padding: 5rem 10rem 0rem 10rem;
        }
      }
    </style>
  </article>


</html>
