---
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Main from "../layouts/Main.astro";
import Lineup from "../components/Lineup.astro";
---

<Main>
  <Hero slot="header-slot">
    <img src="lineupforside.webp" alt="lineup picture" />
    <h2>LINEUP</h2>
  </Hero>
  <article>
    <div class="grid_1-1-1-1">
      <Button text="WEDNESDAY" />
      <Button text="THURSDAY" />
      <Button text="FRIDAY" />
      <Button text="SATURDAY" />
    </div>
    <h3>her er en h3</h3>
    <section class="grid_1-1-1"></section>
    <Lineup />
    <section class="map">
      <h3>GET TO KNOW KUNE FESTIVAL</h3>
      <img src="kort.svg" alt="map over festival" />
    </section>
    <Footer />
  </article>
</Main>
<style>
  article {
    padding: 20px;
    background: rgb(197, 152, 222);
    background: linear-gradient(180deg, rgba(197, 152, 222, 1) 0%, rgba(159, 217, 102, 1) 100%);
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  .map {
    display: grid;
    margin-bottom: 150px;
  }
  .map img {
    justify-self: center;
    align-self: center;
  }
  .map h3 {
    justify-self: center;
    align-self: center;
  }
  .map img {
    width: 40%;
  }
  @media (max-width: 600px) {
    .map img {
      width: 80%;
    }
  }
</style>
