---
import Hero from "../components/Hero.astro";
import Main from "../layouts/Main.astro";
---

<Main>
  <Hero>
    <img src="lineupforside.webp" alt="lineup picture" />
    <h2>LINEUP</h2>
  </Hero>
  <article>
    <h3>her er en h3</h3>
    <section class="grid_1-1-1"></section>
  </article>

  <style>
    article {
      padding: 20px;
      background: rgb(197, 152, 222);
      background: linear-gradient(180deg, rgba(197, 152, 222, 1) 0%, rgba(159, 217, 102, 1) 100%);
    }
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }
  </style>
</Main>
