---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Main from "../layouts/Main.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>products</title>
  </head>
  <body>
    <Nav />
    <Main>
      <!-- MAIN PAGE - FRONT IMAGE -->
      <Hero slot="header-slot">
        <img src="../public/Ticketindex.jpg" alt="ticket picture" />
        <h2>TICKETS</h2>
      </Hero>
      <article>
        <div class="ticket_container">
          <!-- CARD 1 - FULL PASS -->
          <a href="/fullpass">
            <div class="card_layout">
              <div class="card1">
                <img src="../public/Ticket1.jpg" alt="Billede fra festival" />
                <h3 id="fullpass">FULL PASS</h3>
                <h4 id="everythingincluded">EVERTHING INCLUDED</h4>
                <p id="price">1.500 DKK</p>
              </div>
            </div></a
          >
          <!-- CARD 2 - 5 DAY -->
          <a href="/5day">
            <div class="card_layout">
              <div class="card2">
                <img src="../public/Ticket2.jpg" alt="Billede fra festival" />
                <h3 id="day5">5 DAY</h3>
                <h4 id="customize5">COSTUMIZE TICKET</h4>
                <p id="price5">1.000 - 1.500 DKK</p>
              </div>
            </div></a
          >
          <!-- CARD 3 - WEEKEND -->
          <a href="/weekend">
            <div class="card_layout">
              <div class="card2">
                <img src="../public/Ticket3.jpg" alt="Billede fra festival" />
                <h3 id="weekend">WEEKEND</h3>
                <h4 id="wcustomize">CUSTOMIZE TICKET</h4>
                <p id="wprice">900 - 1.200 DKK</p>
              </div>
            </div></a
          >

          <Footer />
        </div>
      </article>
    </Main>
  </body>
</html>

<style>
  @media (min-width: 1000px) {
    /* COMPUTER SCREEN LAYOUT */
    /* CONTAINER GRID */
    .ticket_container {
      display: grid;
      grid-template-columns: 3;
      display: flex;
      justify-content: space-evenly;
      /* margin: 5rem; */
    }
  }

  /* BACKGROUND COLOR */
  article {
    background: rgb(197, 152, 222);
    background: linear-gradient(
      180deg,
      rgba(197, 152, 222, 1) 0%,
      rgba(224, 89, 55, 1) 100%
    );
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  /* GENERAL CARD EDITS */
  .card_layout {
    padding: 2rem;
    text-align: center;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }

  /* CARD 1 DESIGN */
  .card1 img {
    height: 60%;
    object-fit: cover;
  }
  .card1 {
    grid-column: 1;
    grid-row: 2;
    background: rgb(197, 152, 222);
    background: linear-gradient(
      180deg,
      rgba(197, 152, 222, 1) 0%,
      rgba(224, 89, 55, 1) 50%,
      rgba(159, 217, 102, 1) 100%
    );
    min-height: 100%;
  }
  #fullpass {
    padding-bottom: 0rem;
  }
  #everythingincluded {
    font-size: 15px;
    padding-bottom: 2rem;
  }
  #price {
    font-size: 20px;
    padding-bottom: 1.5rem;
  }

  /* CARD 2 DESIGN */
  .card2 img {
    height: 60%;
    object-fit: cover;
  }
  .card2 {
    grid-column: 2;
    grid-row: 2;
    background: rgb(197, 152, 222);
    background: linear-gradient(
      180deg,
      rgba(197, 152, 222, 1) 0%,
      rgba(224, 89, 55, 1) 50%,
      rgba(159, 217, 102, 1) 100%
    );
    min-height: 100%;
  }
  #day5 {
    padding-bottom: 0rem;
  }
  #customize5 {
    font-size: 15px;
    padding-bottom: 2rem;
  }
  #price5 {
    font-size: 20px;
    padding-bottom: 1.5rem;
  }

  /* CARD 3 DESIGN */
  .card3 img {
    height: 60%;
    object-fit: cover;
  }
  .card3 {
    grid-column: 3;
    grid-row: 2;
    background: rgb(197, 152, 222);
    background: linear-gradient(
      180deg,
      rgba(197, 152, 222, 1) 0%,
      rgba(224, 89, 55, 1) 50%,
      rgba(159, 217, 102, 1) 100%
    );
    min-height: 100%;
  }
  #weekend {
    padding-bottom: 0rem;
  }
  #wcustomize {
    font-size: 15px;
    padding-bottom: 2rem;
  }
  #wprice {
    font-size: 20px;
    padding-bottom: 1.5rem;
  }
  article {
    background: rgb(197, 152, 222);
    background: linear-gradient(
      180deg,
      rgba(197, 152, 222, 1) 0%,
      rgba(224, 89, 55, 1) 100%
    );
    padding-bottom: 10rem;
    padding: 5rem 5rem 8rem 5rem;
  }
  /* ARTICLE AROUND WHOLE SITE PADDING AND BACKGROUND COLOR - COMPUTER VIEW */
  @media (min-width: 800) {
    article {
      background: rgb(197, 152, 222);
      background: linear-gradient(
        180deg,
        rgba(197, 152, 222, 1) 0%,
        rgba(224, 89, 55, 1) 100%
      );
      padding-bottom: 10rem;
      padding-top: 10rem;

      padding: 5rem 10rem 13rem 10rem;
    }
  }
</style>
