---
import Hero from "../components/Hero.astro";
import Main from "../layouts/Main.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Buyticket from "../components/Buyticket.astro";
---

<Main>
  <Hero slot="header-slot">
    <img src="/volunteer3.webp" alt="volunteer picture" />
    <h2>VOLUNTEER</h2>
  </Hero>
  <article>
    <Buyticket />
    <section>
      <h3>Join KUNE Festival team here</h3>
      <form class="forms" name="kontakt">
        <div>
          <label for="navn"><br />Full Name<br /></label>
          <input id="navn" type="text" name="fname" />
        </div>
        <div>
          <label for="email"><br />Email<br /></label>
          <input id="email" type="text" name="email" />
        </div>
        <div>
          <label for="tel"><br />Phone number<br /></label>
          <input id="tel" type="tel" name="Tlf. nummer" />
        </div>
        <div class="attach">
          <a href="mailto:contact@kunekbh.com">Attach application here</a>
        </div>
        <section class="applybutton">
          <Button text="SEND APPLICATION" />
        </section>
      </form>
    </section>
    <Footer />
  </article>
</Main>
<style>
  article {
    background: rgb(197, 152, 222);
    background: linear-gradient(180deg, rgba(197, 152, 222, 1) 0%, rgba(224, 89, 55, 1) 100%);
  }

  article {
    padding-top: 60px;
    padding: 30px;
  }
  section {
    display: grid;
  }
  section h3 {
    justify-self: center;
    align-self: center;
  }
  section form {
    justify-self: center;
    align-self: center;
  }

  input {
    width: 550px;
    padding: 20px;
    background-color: #e05937;
    text-decoration: none;
    color: #ffffff;
    border: none;
  }
  input:focus {
    width: 550px;
    padding: 20px;
    background-color: #e05937;
    text-decoration: none;
    color: #ffffff;
    border: none;
    outline: none;
  }
  label {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 45px;
    color: #ffffff;
  }
  .attach {
    margin-top: 45px;
  }
  .attach a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    color: #ffffff;
    text-decoration: underline;
  }
  .applybutton {
    display: grid;
    margin-top: 60px;
  }
  .applybutton button {
    justify-self: center;
    place-self: center;
  }
  @media (max-width: 600px) {
    article {
      margin-bottom: 110px;
      padding: 30px;
      justify-self: center;
      align-self: center;
    }
    form {
      padding: 30px;
    }
    input {
      width: 300px;
      padding: 20px;
      background-color: #e05937;
      text-decoration: none;
      color: #ffffff;
      border: none;
    }
    input:focus {
      width: 300px;
      padding: 20px;
      background-color: #e05937;
      text-decoration: none;
      color: #ffffff;
      border: none;
      outline: none;
    }
    label {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 45px;
      color: #ffffff;
    }
    .applybutton {
      display: grid;
      margin-top: 60px;
      margin-bottom: 150px;
    }
    .attach a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 50px;
      color: #ffffff;
      text-decoration: underline;
    }
  }
</style>
