---
const text = Astro.props.text;
---

<button>
  <p>{text}</p>
</button>

<style>
  button {
    background-color: #353639;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    outline: none;
    margin-top: 80px;
    width: 250px;
  }
</style>
