<article class="foot">
  <section class="grid_1-1">
    <div>
      <h4>Stay Updated</h4>
      <h5 class="subs">Subscribe to our newsletter and stay updated for new information!</h5>
      <form name="footer_sign">
        <div>
          <label for="email"><br /><br /></label>
          <input id="email" type="text" name="email" />
          <button>Subscribe</button>
        </div>
      </form>
      <div class="logo_boks">
        <div>
          <a href="https://www.facebook.com/kunekbh" target="_blank">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20" r="19.5" fill="#22242A" stroke="white"></circle>
              <path
                d="M27.8785 6.6665H23.9115C22.158 6.6665 20.4763 7.36888 19.2364 8.61913C17.9965 9.86937 17.3 11.5651 17.3 13.3332V17.3332H13.333V22.6665H17.3V33.3332H22.5892V22.6665H26.5561L27.8785 17.3332H22.5892V13.3332C22.5892 12.9795 22.7285 12.6404 22.9765 12.3904C23.2245 12.1403 23.5608 11.9998 23.9115 11.9998H27.8785V6.6665Z"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/kunekbh/" target="_blank">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20" r="19.5" fill="#22242A" stroke="white"></circle>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M13.7791 8C10.5874 8 8 10.5874 8 13.7791V26.3374C8 29.5291 10.5874 32.1165 13.7791 32.1165H26.3374C29.5291 32.1165 32.1165 29.5291 32.1165 26.3374V13.7791C32.1165 10.5874 29.5291 8 26.3374 8H13.7791ZM7 13.7791C7 10.0351 10.0351 7 13.7791 7H26.3374C30.0814 7 33.1165 10.0351 33.1165 13.7791V26.3374C33.1165 30.0814 30.0814 33.1165 26.3374 33.1165H13.7791C10.0351 33.1165 7 30.0814 7 26.3374V13.7791ZM20.7763 15.5293C19.8352 15.3898 18.874 15.5505 18.0295 15.9887C17.185 16.4269 16.5002 17.1202 16.0724 17.9701C15.6447 18.8199 15.4958 19.783 15.6469 20.7223C15.7981 21.6616 16.2416 22.5294 16.9143 23.2022C17.5871 23.8749 18.4548 24.3184 19.3942 24.4696C20.3335 24.6207 21.2966 24.4718 22.1464 24.0441C22.9963 23.6163 23.6896 22.9315 24.1278 22.087C24.566 21.2425 24.7267 20.2813 24.5872 19.3402C24.4448 18.3802 23.9975 17.4915 23.3112 16.8052C22.625 16.119 21.7363 15.6717 20.7763 15.5293ZM17.5689 15.1011C18.6001 14.566 19.7738 14.3697 20.923 14.5401C22.0952 14.714 23.1804 15.2602 24.0184 16.0981C24.8563 16.9361 25.4025 18.0213 25.5763 19.1935C25.7468 20.3427 25.5505 21.5164 25.0154 22.5476C24.4803 23.5788 23.6337 24.415 22.596 24.9373C21.5583 25.4596 20.3823 25.6414 19.2353 25.4569C18.0883 25.2723 17.0287 24.7307 16.2072 23.9093C15.3857 23.0878 14.8442 22.0282 14.6596 20.8812C14.4751 19.7342 14.6569 18.5582 15.1792 17.5205C15.7015 16.4828 16.5377 15.6362 17.5689 15.1011ZM26.9653 12.6512C26.6892 12.6512 26.4653 12.8751 26.4653 13.1512C26.4653 13.4274 26.6892 13.6512 26.9653 13.6512H26.9797C27.2558 13.6512 27.4797 13.4274 27.4797 13.1512C27.4797 12.8751 27.2558 12.6512 26.9797 12.6512H26.9653Z"
                fill="white"></path>
            </svg>
          </a>
        </div>
        <div>
          <a href="mailto:contact@kunekbh.com" target="_blank">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_247_3635)">
                <circle cx="20" cy="20" r="19.5" fill="#22242A" stroke="white"></circle>
                <path d="M31.667 8.3335L16.667 23.3335" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M31.6667 8.3335L22.3333 35.0002L17 23.0002L5 17.6668L31.6667 8.3335Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
              <defs>
                <clipPath id="clip0_247_3635">
                  <rect width="40" height="40" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div>
      <img class="logo" src="logo-round-white.png" alt="logo" />
      <div class="grid_1-1-1">
        <div>
          <h5>Page</h5>
          <p>Homepage</p>
          <p>Lineup</p>
          <p>Tickets</p>
          <p>Volunteer</p>
          <p>Info</p>
        </div>
        <div>
          <h5>Photographers</h5>
          <p>Daniela Stoian</p>
          <p>Anna Macchia</p>
          <p>Alexandra B.</p>
          <p>Tony Thai Do</p>
        </div>
        <div>
          <h5>Company</h5>
          <p>About Us</p>
          <p>Volunteer</p>
          <p>FAQs</p>
          <p>Teams</p>
          <p>Contacts US</p>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <div class="grid_1">
    <p>Privacy Policy</p>
    <p>Terms of Use</p>
    <p>Sales and Refunds</p>
    <p>Legal</p>
    <p>Site Map</p>
  </div>
</article>
<style>
  .foot {
    padding: 30px;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .logo_boks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .footer_sign {
    outline: none;
    line-height: 32px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    border: none;
  }
  input[type="text"] {
    background-color: #ffffff;
  }
  button {
    background-color: #353639;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
    color: #ffffff;
    outline: none;
    margin-top: 30px;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    margin-top: 30px;
  }
  .logo {
    width: 80px;
  }
  .foot h4 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
  }
  .foot h5 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
  }
  .subs h5 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
  }
  .foot p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
  }
</style>
