---
const head = Astro.props.head;
const lineup = Astro.props.lineup;
---

<section>
  <h3>{head}</h3>
  <div class="grid_1-1-1"></div>
</section>
<style>
  .grid_1-1-1 {
    display: flex;
  }
</style>
