<div class="logo">
  <a href="homepage.html"><img src="logo-round-white.png" alt="logo" /></a>
</div>
<button id="burger-menu">
  Menu
  <span></span>
</button>

<nav id="menu">
  <ul>
    <li><a href="tickets">TIC<span style="color: #9FD966;">K</span>ETS</a></li>
    <li><a href="lineup">LINE<span style="color: #9FD966;">U</span>P</a></li>
    <li><a href="info">I<span style="color: #9FD966;">N</span>FO</a></li>
    <li><a href="volunteer">VOLUNT<span style="color:#9FD966;">E</span>ER</a></li>
  </ul>
</nav>

<script src="../scripts/burger.js"></script>

<style>
  .logo {
    width: 5%;
  }
  #burger-menu {
    text-indent: -9999px;
    display: none;
    border: none;
    background: transparent;
    margin: 25px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    position: relative;
    z-index: 2;
  }

  #burger-menu {
    display: block;
    position: fixed;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #ffffff;
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
    content: "";
    border-radius: 25px;
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 40px;
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 40px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 40px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 45px;
    background: #fff;
  }
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 45px;
    background: #fff;
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
    background: #fff;
  }
  #menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  #menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.8);
  }
  #menu ul {
    padding: 0;
  }
  #menu li {
    list-style: none;
    display: initial;
  }
  #menu a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 91px;
    color: #ffffff;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
  }
</style>
