---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>KUNE Festival</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div id="mainmenu">
        <slot name="header-slot" />
        <div class="logo">
          <a href="index"><img src="logo-round-white.png" alt="logo" /></a>
        </div>
        <Menu />
      </div>

      <main>
        <slot />
      </main>
      <Footer />
    </header>
  </body>
</html>
<style>
  .logo {
    width: 5%;
    padding: 7px;
  }
</style>
